<div class="terminal">
  <div class="terminal-header">
    <div class="terminal-header-buttons">
      <div class="terminal-header-buttons-close"></div>
      <div class="terminal-header-buttons-minimize"></div>
      <div class="terminal-header-buttons-maximize"></div>
    </div>
    <span class="terminal-header-title">djangonaut: ~ (zsh)</span>
  </div>
  <div class="terminal-window">
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">01</span>
      <span class="terminal-window-line-code">urlpatterns = [</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">02</span>
      <span class="terminal-window-line-code">...</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">03</span>
      <span class="terminal-window-line-code">url(r'^o/', include('oauth2_provider.urls', namespace='oauth2_provider')),</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">04</span>
      <span class="terminal-window-line-code">]</span>
    </div>
  </div>
</div>
