<div class="terminal">
  <div class="terminal-header">
    <div class="terminal-header-buttons">
      <div class="terminal-header-buttons-close"></div>
      <div class="terminal-header-buttons-minimize"></div>
      <div class="terminal-header-buttons-maximize"></div>
    </div>
    <span class="terminal-header-title">djangonaut: ~ (zsh)</span>
  </div>
  <div class="terminal-window">
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">➜</span>
      <span class="terminal-window-line-path">~</span>
      <span class="terminal-window-line-code">INSTALLED_APPS = (</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">➜</span>
      <span class="terminal-window-line-path">~</span>
      <span class="terminal-window-line-code">...</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">➜</span>
      <span class="terminal-window-line-path">~</span>
      <span class="terminal-window-line-code">'oauth2_provider'</span>
    </div>
    <div class="terminal-window-line">
      <span class="terminal-window-line-prompt">➜</span>
      <span class="terminal-window-line-path">~</span>
      <span class="terminal-window-line-code">)</span>
    </div>
  </div>
</div>
