// Responsive breakpoints
// ----------------------

$small: "(max-width: 600px)";
$medium: "(max-width: 960px)";
$large: "(max-width: 1280px)";
$xlarge: "(max-width: 1920px)";

$min-small: "(min-width: 600px)";
$min-medium: "(min-width: 960px)";
