// All variables which are not contained in other abstract files
// -------------------------------------------------------------

// Typefaces
$ubuntu: "Ubuntu", Tahoma, sans-serif;
$source-code-pro: "Source Code Pro", Lucida Console, monospace;

// Z-indexes
$z-header: 100;
