// Feature section
// ---------------

.features {
  margin: auto;
  max-width: 1280px;
}

.features-container {
  display: flex;

  // Sets a horizontal flow to the feature boxes.
  & > * + * {
    margin-left: 7.594rem;

    @media #{$large} {
      margin-left: 3.375rem;
    }

    @media #{$medium} {
      margin-left: 0;
      margin-top: 5.063rem;
    }
  }

  @media #{$medium} {
    flex-direction: column;
    padding: 0 5.063rem;
  }

  @media #{$medium} {
    padding: 0;
  }
}

.feature {
  text-align: center;
  width: 100%;
}

.feature p {
  margin-top: 1rem;
}

.feature-link {
  color: $white;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    text-decoration: underline;
  }
}

.feature-button {
  display: flex;
  justify-content: center;
  margin-top: 2.25rem;
}
