// Footer
// ------

.footer {
  margin-top: 7.594rem;
  padding-bottom: 2.25rem;
}

.footer p {
  font-weight: 300;
  text-align: center;
}

.evonove_logo {
  height: 0.8rem;
  margin-left: 0.1rem;
}
