// Setup section
// -------------

.setup {
  margin: 11.391rem auto 0;
  max-width: 853px;
}

.setup-heading {
  text-align: center;
}

.setup-container {
  margin-top: 3.375rem;

  & > * + * {
    margin-top: 5.063rem;
  }
}

.step {
  display: flex;
  justify-content: flex-start;

  @media #{$medium} {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.step-code {
  @media #{$medium} {
    display: flex;
    justify-content: center;
    margin-top: 2.25rem;
    width: 100%;
  }
}

// Select every even step box and [1] invert the terminal's order.
.step:nth-child(even) .step-code {
  @media #{$min-medium} {
    order: 2; // [1]
  }
}

.step-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;

  @media #{$medium} {
    margin-left: 0;
    max-width: 356px;
    text-align: center;
  }
}

// Select every even step box and:
// [1] invert the description's order
// [2] align the description to the left.
.step:nth-child(even) .step-description {
  @media #{$min-medium} {
    margin-left: 0; // [2]
    margin-right: 45px; // [2]
    order: 1; // [1]
    text-align: right; // [2]
  }
}

.step-description-requirements {
  font-size: 0.667rem;
  margin-top: 0.667rem;
}

.step-description-requirements ul {
  list-style-type: circle;
  padding-left: 1rem;
}
