// Splash section
// --------------

.splash {
  display: flex;
  justify-content: center;
  padding-bottom: 11.391rem;
  position: relative;

  @media #{$small} {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.dot {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 7.594rem;
  max-width: 853px;

  @media #{$medium} {
    padding: 0 3.375rem;
    width: auto;
  }

  @media #{$small} {
    padding: 0 1rem;
  }

  & > * + * {
    margin-top: 2.25rem;
  }
}

.dot-about {
  text-align: center;
}

.dot-get_started {
  @media #{$small} {
    display: none;
  }
}

// [1] Avoids white space between the curved background and the main linear
//     background.
.curved_background {
  bottom: -1px; // [1]
  fill: $lightorange;
  left: 0;
  position: absolute;
  width: 100%;

  // [2] Shifts 2 pixels down because the mobile_get_started container is
  //     already shifted down of 1 pixel.
  @media #{$small} {
    bottom: -2px; // [2]
    margin-top: 1.5rem;
    position: relative;
  }
}

// [1] Avoids white space between this container and the main linear background.
.mobile_get_started {
  background-color: $lightorange;
  bottom: -1px; // [1]
  display: flex;
  justify-content: center;
  padding: 1rem 0 5.063rem;
  position: relative;

  @media #{$min-small} {
    display: none;
  }
}
