<!DOCTYPE html>
<html>
{{ partial "head.html" }}
<body class="body">
  {{ partial "header.html" }}
  <section class="splash">
    <div class="dot">
      {{ partial "svgs/logo.svg" }}
      <div class="dot-about">
        <p><span class="text-bold">Django OAuth Toolkit</span> provides out of the box all the endpoints, data and logic needed to add <span class="text-bold">OAuth2</span> capabilities to Django. The use of <span class="text-bold">OAuthLib</span>, makes it completely RFC-Compliant, but it’s modularity also allows you to have extra horsepower if you need it.</p>
      </div>
      <a class="button dot-get_started" href="#setup">Get Started</a>
    </div>
    {{ partial "svgs/curved-background.svg" }}
    <div class="mobile_get_started">
      <a class="button white_button" href="#setup">Get Started</a>
    </div>
  </section>
  <div class="gradient_container">
    <section class="features">
      <div class="features-container">
        <div class="feature">
          <h2>Easy to use</h2>
          <p>Secure your API infrastructure with OAuth2 in a few lines of code, set up the scopes you need and let DOT handle all the logic to ensure your website has RFC-Compliant authorization handling and the security your users deserve.</p>
          <div class="feature-button">
            <a class="button white_button" href="https://github.com/evonove/django-oauth-toolkit">Install</a>
          </div>
        </div>
        <div class="feature">
          <h2>Extensible</h2>
          <p>DOT can be as complex as your project requires it to be. It’s modular nature gives you a tailored implementation for each of your projects, ensuring it will always work as you need it to without anything more or less than the necessary.</p>
          <div class="feature-button">
            <a class="button white_button" href="https://django-oauth-toolkit.readthedocs.io/en/latest/">Read the Docs</a>
          </div>
        </div>
        <div class="feature">
          <h2>Open Source</h2>
          <p>DOT has almost 1000 commits, 1000 stars, 85 contributors and more than 300 forks. It’s used in more than 6000 projects and it’s under the permissive <a class="feature-link" href="https://github.com/evonove/django-oauth-toolkit/blob/master/LICENSE" target="_blank">BSD License.</a></p>
          <div class="feature-button">
            <a class="button white_button" href="https://django-oauth-toolkit.readthedocs.io/en/latest/contributing.html">Contribute</a>
          </div>
        </div>
      </div>
    </section>
    <section id="setup" class="setup">
      <h1 class="setup-heading">How to setup</h1>
      <div class="setup-container">
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-first.html" }}
          </div>
          <div class="step-description">
            <p>Install with <span class="text-code">pip</span></p>
            <div class="step-description-requirements">
              <p>Requirements:</p>
              <ul>
                <li>Python 2.7, 3.4, 3.5, 3.6</li>
                <li>Django 1.10, 1.11</li>
              </ul>
              </div>
          </div>
        </div>
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-second.html" }}
          </div>
          <div class="step-description">
            <p>Add <span class="text-code">oauth2_provider</span> to your <span class="text-code">INSTALLED_APPS</span>.</p>
          </div>
        </div>
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-third.html" }}
          </div>
          <div class="step-description">
            <p>If you need an OAuth2 provider you’ll want to add the following to your <span class="text-code">urls.py</span>.</p>
          </div>
        </div>
      </div>
    </section>
    {{ partial "footer.html" }}
  </div>
  <script src="/bundle.js" async defer></script>
</body>
</html>
