<!DOCTYPE html>
<html>
{{ partial "head.html" }}
<body class="body">
  {{ partial "header.html" }}
  <section class="splash">
    <div class="dot">
      {{ partial "svgs/logo.svg" }}
      <div class="dot-about">
        <p><span class="text-bold">Django OAuth Toolkit</span> provides out of the box all the endpoints, data and logic needed to add <span class="text-bold">OAuth2</span> capabilities to Django. It makes extensive use of the excellent <span class="text-bold">OAuthLib</span>, so that everything is rfc-compliant.</p>
      </div>
      <a class="button" href="#setup">Get Started</a>
    </div>
    {{ partial "svgs/curved-background.svg" }}
  </section>
  <div class="gradient_container">
    <section class="features">
      <div class="features-container">
        <div class="feature">
          <h2>Easy to use</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur, lorem fermentum cursus euismod, augue nibh vestibulum felis, eu vestibulum ex lorem finibus neque.</p>
        </div>
        <div class="feature">
          <h2>Extensible</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur, lorem fermentum cursus euismod, augue nibh vestibulum felis, eu vestibulum ex lorem finibus neque.</p>
        </div>
        <div class="feature">
          <h2>Open Source</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur, lorem fermentum cursus euismod, augue nibh vestibulum felis, eu vestibulum ex lorem finibus neque.</p>
        </div>
      </div>
    </section>
    <section id="setup" class="setup">
      <h1 class="setup-heading">How to setup</h1>
      <div class="setup-container">
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-first.html" }}
          </div>
          <div class="step-description">
            <p>Install with <span class="text-code">pip</span></p>
            <div class="step-description-requirements">
              <p>Requirements:</p>
              <ul>
                <li>Python 2.7, 3.4, 3.5, 3.6</li>
                <li>Django 1.10, 1.11</li>
              </ul>
              </div>
          </div>
        </div>
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-second.html" }}
          </div>
          <div class="step-description">
            <p>Add <span class="text-code">oauth2_provider</span> to your <span class="text-code">INSTALLED_APPS</span>.</p>
          </div>
        </div>
        <div class="step">
          <div class="step-code">
            {{ partial "terminal-third.html" }}
          </div>
          <div class="step-description">
            <p>If you need an OAuth2 provider you’ll want to add the following to your <span class="text-code">urls.py</span>.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="learn_more">
      <h2 class="learn_more-heading">Learn more</h2>
      <div class="learn_more-buttons">
        <a class="button white_button" href="https://github.com/evonove/django-oauth-toolkit">Github</a>
        <a class="button white_button" href="https://django-oauth-toolkit.readthedocs.io/en/latest/">Read the Docs</a>
      </div>
    </section>
    {{ partial "footer.html" }}
  </div>
  <script src="/bundle.js" async defer></script>
</body>
</html>
